.generator {
  margin-top: 4rem;

  &__hints {
    width: 500px;
    margin: auto;
    text-align: center;
  }

  &__hint {
    margin-bottom: 0.5rem;
    font-size: 15px;

    span {
      font-weight: bold;
    }
  }
}
