* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  max-width: 1080px;
  background-color: #f8f8f8;
  margin: auto;
  min-height: 100vh;
}

:root {
  --primary-color: #f18f0f;
  --gray-color-1: #b1b1b1;
}
